<h1>New article</h1>

<%= cl_image_tag("tulbqsqltwlssrtjd41b",
      width: 400, height: 300, crop: :fill) %>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Back to articles", root_path %>
</div>
